{% extends "reminders/base.html" %}
{% load staticfiles %}
{% block content %}

<head>
	<title>You</title>
	<link rel="stylesheet" href="{% static "reminders/contacts.css" %}"/>
</head>

<div class="header">
	<div class="header-center">
		<img class="logo" src="/static/reminders/img/CLlogo.png">
	</div>
	<div class="header-right">
		<a class="logout" href="{% url 'user_logout' %}">Logout</a>
	</div>
</div>

<div class="raise">

	{% block page %}
	{% endblock page %}

</div>


{% endblock content %}