{% extends "reminders/base.html" %}
{% load staticfiles %}
{% block content %}


<head>
	<title>You</title>
	<link rel="stylesheet" href="{% static "reminders/contacts.css" %}"/>
	<link rel="shortcut icon" type="image/png" href="{% static "reminders/favicon.ico" %}"/>
</head>

<div class="header">
	<div class="header-center">
		<img class="logo" src="/static/reminders/img/CLwhite.png">
	</div>
</div>

<div class="raise">

	<h3><span>Login</span>/<span><a href="{% url 'create' %}">Create</a></span></h3>
	<div class="form">
		<form action="" method="post">
		{% csrf_token %}

		<input id="phone" name="phone" type="text" placeholder="Phone #" value="{{number}}" />
		<br />

		{% block page %}
		{% endblock page %}

		
		</form>
	</div>

</div>


{% endblock content %}