<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Upkeep</title>
	<link rel="stylesheet" href="{% static "reminders/main.css" %}"/>
	<link rel="stylesheet" href="{% static "reminders/fonts/font-awesome/css/font-awesome.min.css" %}"/>
	<link rel="shortcut icon" type="image/png" href="{% static "reminders/favicon.ico"/>
</head>
<body>

<div class="header"><div class="circle"><img class="logo" src="/static/reminders/img/CLlogo.png"></img></div></div>

<h2>Thanks for registering!</h2>
<h4>You'll be hearing more from us soon</h4>

<div>
<!-- fix the link here -->
	<!-- <a href="user/contacts"><button class="beta-share">Share <i class="fa fa-retweet" aria-hidden="true"></i></button></a> -->
	<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Just signed up for the Upkeep Beta! Check it out" data-url="http://upkeepme.co" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

</body>
</html>