<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Upkeep</title>
	<link rel="stylesheet" href="{% static "reminders/main.css" %}"/>
	<link rel="stylesheet" href="{% static "reminders/fonts/font-awesome/css/font-awesome.min.css" %}"/>
	<link rel="shortcut icon" type="image/png" href="{% static "reminders/favicon.ico" %}"/>
</head>
<body>

<div class="header"><div class="circle"><img class="logo" src="/static/reminders/img/CLlogo.png"></img></div></div>

<h2>Stay Informed, Be Invited</h2>

<h3> We're not ready yet, but we'll <b>keep</b> you <b>up</b> to date and invite you when we are </h3>

<div>
	<form action="" method="post">
		{% csrf_token %}
		<input class="beta-email" name="email" type="email" value="{{email}}" placeholder="Your email, please" />
		<input class="beta-ok" type="submit" value="Ok" />
		<h3 style="margin-top: 30px; font-size=1.2em;">{{ error }}</h3>
	</form>
</div>

</body>
</html>