{% extends "reminders/base_user.html" %}
{% block page %}

<h3>Add Contact</h3>
<div class="add-contact">


	<form action="" method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Add" />
	</form>

</div>

<div class="contacts">

<h3>Contacts</h3>
	<ul>
	{% for contact in contacts %}
		<li>
			<span class="contact-name">{{contact.name}}</span>
			<a class="contact-delete" href="{% url 'declaim' contact.id%}"><button>Remove</button></a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock page %}