{% extends "reminders/base.html" %}
{% load staticfiles %}
{% block content %}

<head>
	<title>You</title>
	<link rel="stylesheet" href="{% static "reminders/contacts.css" %}"/>
	<link rel="shortcut icon" type="image/png" href="{% static "reminders/favicon.ico" %}"/>
</head>

<div class="header">
	<div class="header-center">
		<img class="logo" src="/static/reminders/img/CLwhite.png">
	</div>
</div>

<div class="raise">

	<h3><span><a href="{% url 'user_login' %}">Login</a></span>/<span>Create</span></h3>
	<div class="form">
		<form action="" method="post">
		{% csrf_token %}
		{{user_form.as_p}}
		{{person_form.as_p}}

		<!-- <label for="name">Name:</label>
		<input id="name" type="text" value="{{user.name}}" />
		<br />

		<label for="email">Email:</label>
		<input id="email" type="email" value="{{user.email}}" />
		<br />

		<label for="phone">Phone #:</label>
		<input id="phone" type="text" value="{{user.phone}}" />
		<br /> -->

		<input type="submit" class="submit login-button" value="Create" />
		</form>

		<p class="notice">Notice: SMS charges may apply</p>
	</div>

</div>

{% endblock content %}