<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Upkeep</title>
	<link rel="stylesheet" href="{% static "reminders/main.css" %}"/>
	<link rel="stylesheet" href="{% static "reminders/fonts/font-awesome/css/font-awesome.min.css" %}"/>
	<link rel="shortcut icon" type="image/png" href="{% static "reminders/favicon.ico" %}"/>
</head>
<body>

<div class="header"><div class="circle"><img class="logo" src="/static/reminders/img/CLlogo.png"></img></div></div>

<h1>Upkeep</h1>
<p class="subline">A simple service to help you stay in touch with the people you care about</p>

<section>
	<ul>
		<li>
			<i class="fa fa-list-alt icons" aria-hidden="true"></i>
			<p>Add your contacts</p>
		</li>
		<li>
			<i class="fa fa-calendar-check-o icons" aria-hidden="true"></i>
			<p>Set your weekly reminder time</p>
		</li>
		<li>
			<i class="fa fa-envelope icons" aria-hidden="true"></i>
			<p>Get reminders via SMS</p>
		</li>
	</ul>
</section>

<div>
	<a href="{% url 'beta_reg' %}"><button>Get Started</button></a>
</div>

</body>
</html>