<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Upkeep</title>
	<link rel="stylesheet" href="{% static "reminders/main.css" %}"/>
	<link rel="stylesheet" href="{% static "reminders/fonts/font-awesome/css/font-awesome.min.css" %}"/>
</head>
<body>

<div class="header"><div class="circle"><img class="logo" src="/static/reminders/img/CLlogo.png"></img></div></div>

<h1>Upkeep</h1>

<section>
	<ul>
		<li>
			<i class="fa fa-comments icons" aria-hidden="true"></i>
			<p>Stay in Touch</p>
		</li>
		<li>
			<i class="fa fa-envelope icons" aria-hidden="true"></i>
			<p>Reminders Delivered to you</p>
		</li>
		<li>
			<i class="fa fa-calendar-check-o icons" aria-hidden="true"></i>
			<p>Set it and Forget</p>
		</li>
	</ul>
</section>

<div>
	<a href="user/contacts"><button>Get Started</button></a>
</div>

</body>
</html>