<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Upkeep</title>
	<link rel="stylesheet" href="{% static "reminders/main.css" %}"/>
</head>
<body>

<div class="header"><img class="logo" src="/static/reminders/img/CLlogo.png"></div></div>

<h1>Upkeep</h1>

<section>
	<ul>
		<li>
			<i></i>
			<p>Stay in Touch</p>
		</li>
		<li>
			<i></i>
			<p>Reminders Delivered to you</p>
		</li>
		<li>
			<i></i>
			<p>Set it and Forget</p>
		</li>
	</ul>
</section>

<div>
	<a href="user/contacts"><button>Get Started</button></a>
</div>

</body>
</html>