html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

@font-face {
  font-family: "Neutra Text Book";
  src: url("/static/reminders/fonts/NeutraText-Book.otf");
  
}

@font-face {
  font-family: "Open Sans Light";
  src: url("/static/reminders/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("/static/reminders/fonts/OpenSans-Semibold.ttf");
}

.raise {
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 1.2em;
    text-align: left;
    padding: 5px;
    width: 75%;
    margin: auto;
    height: 100%;
    background: #fff;
    max-width: 900px;

    padding-top: 75px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    margin-top: 0px;
}

input {
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 1.2em;
    color: black;
    margin-bottom: 5px;
    border: none;
    padding-left: 5px;
    border-bottom: 1px solid #04536d;
}

input::-webkit-input-placeholder {
   color: #3c8ba6;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #3c8ba6;  
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #3c8ba6;  
}

input:-ms-input-placeholder {  
   color: #3c8ba6;  
}


.submit {
    background-color: #04536d;
    color: #fff;
    border-radius: 8px;
    width: 90px;
}

ul {
    list-style: none;
    padding: 0px 40px;
}

li {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

body {
	background-color: #023F53;
	margin: 0px;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.contact-name {
    font-family: "Open Sans Light", sans-serif;
    font-size: 1em;
}

.contact-delete {
    float:right;
}

.contact-delete button {
    color: white;
    background: #d62403;
    border: none;
    font-size: .9em;
    border-radius: 5px;
    font-family: "Open Sans Light", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.header {
	width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    background-color: #1D7C9B;
    margin-top: 0px;
    text-align: center;
}

.add-contact {
    margin: 0px 40px;
}

.form {
    margin: 0px 40px;
}

.login-button {
    margin-top: 20px;
    cursor: pointer;
    width: inherit;
}

.notice {
    font-size: .7em;
}

.logout {
    color: #fff;
    font-family: "Open Sans Semibold";
    font-weight: bolder;
    font-size: 2em;
    text-decoration: none;
    float: right;
}

.header-right {
    position: relative;
    top: -56.5px;
    margin-right: 10px;
}

.logo {
	width: 70px;
    height: 70px;
}

a {
    color: #023F53;
}