html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

@font-face {
  font-family: "Neutra Text Book";
  src: url("/static/reminders/fonts/NeutraText-Book.otf");
  
}

@font-face {
  font-family: "Open Sans Light";
  src: url("/static/reminders/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("/static/reminders/fonts/OpenSans-Semibold.ttf");
}

h1 {
	color: #FFCD56;
    font-size: 12em;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Neutra Text Book", sans-serif;
    font-weight: 100;
}

/* BETA */

h2 {
    color: #FFCD56;
    font-size: 6em;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Neutra Text Book", sans-serif;
    font-weight: 100;
}

h3 {
    color: #FFCD56;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Neutra Text Book", sans-serif;
    font-weight: 100;
}

h4 {
    color: #FFCD56;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Neutra Text Book", sans-serif;
    font-weight: 100;
}

.subline {
    color: #FFCD56;
    font-size: 1.5em;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Open Sans Light", sans-serif;
    font-weight: bold;
}

.beta-share {
    height: auto;
    font-size: 1em;
}

.beta-email {
    font-size: 3em;
    background: none;
    border: none;
    border-bottom: 1px solid #FFCD56;
    color: #FFCD56;
    outline: none;
    font-family: "Neutra Text Book", sans-serif;
    margin-top: 25px;
}

.beta-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFCD56;
  font-family: "Neutra Text Book", sans-serif;
}
.beta-email::-moz-placeholder { /* Firefox 19+ */
  color: #FFCD56;
  font-family: "Neutra Text Book", sans-serif;
}
.beta-email:-ms-input-placeholder { /* IE 10+ */
  color: #FFCD56;
  font-family: "Neutra Text Book", sans-serif;
}
.beta-email:-moz-placeholder { /* Firefox 18- */
  color: #FFCD56;
  font-family: "Neutra Text Book", sans-serif;
}

.beta-ok {
    background: #FFCD56;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    color: #076686;
    font-family: "Open Sans Semibold", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

/*END BETA*/

ul {
	list-style: none;
}

li {
	display: inline;
	float: left;
	text-align: center;
	width: 33%;
	height: 200px;
}

li>p {
	display: inline;
	font-family: "Open Sans Light", sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

p {
	color: #FFCD56;
}

body {
	background-color: #076686;
	margin: 0px;
}

div {
	width: 100%;
    text-align: center;
    margin-top: 10px;
}

section {
	display: block;
    width: 100%;
    height: 200px;
}

button {
    height: 80px;
    background: #FFCD56;
    border: none;
    border-radius: 10px;
    font-size: 3.5em;
    color: #076686;
    font-family: "Open Sans Semibold", sans-serif;
 	font-weight: bold;
 	cursor: pointer;
}

.header {
	width: 100%;
    height: 70px;
    background-color: #FFCD56;
    margin-top: 40px;
}

.circle {
	width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    background: #FFCD56;
    border-radius: 70px;
    margin-top: 0px;
    top: -35px;
    position: relative;
}

.logo {
	width: 120px;
    height: 120px;
    position: relative;
    top: 10px;
}

.icons.fa {
    font-size: 8em;
    color: #FFCD56;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}