@font-face {
  font-family: "Neutra Text Book";
  src: url("/static/reminders/fonts/NeutraText-Book.otf");
  
}

@font-face {
  font-family: "Open Sans Light";
  src: url("/static/reminders/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("/static/reminders/fonts/OpenSans-Semibold.ttf");
}

h1 {
	color: #ebeaea;
    font-size: 12em;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Neutra Text Book", sans-serif;
    font-weight: 100;
}

ul {
	list-style: none;
}

li {
	display: inline;
	float: left;
	text-align: center;
	width: 33%;
	height: 200px;
}

li>p {
	display: inline;
	font-family: "Open Sans Light", sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

p {
	color: #faf9f9;
}

body {
	background-color: #076281;
	margin: 0px;
}

div {
	width: 100%;
    text-align: center;
    margin-top: 10px;
}

section {
	display: block;
    width: 100%;
    height: 200px;
}

button {
    height: 80px;
    background: white;
    border: none;
    border-radius: 10px;
    font-size: 3.5em;
    color: #076687;
    font-family: "Open Sans Semibold", sans-serif;
 	font-weight: bold;
 	cursor: pointer;
}

.header {
	width: 100%;
    height: 70px;
    background-color: white;
    margin-top: 40px;
}

.circle {
	width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 70px;
    margin-top: 0px;
    top: -35px;
    position: relative;
}

.logo {
	width: 120px;
    height: 120px;
    position: relative;
    top: 10px;
}

.icons.fa {
    font-size: 8em;
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}